<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Shizzlenated</title>
    </head>
    <body>
        <div class='container'>
            <img src="images/snoop_result.jpg" alt="fresh snoop">
            <h1>Here's yo phraze:</h1>
            <h4>{{ result }}</h4>
            <a href='/'>Go home foo'</a>
        </div>
    </body>
</html>
